.Header {
  user-select: none;
  color: #f1e0ac;
  position: fixed;
  background-color: #495371;
  width: 100%;
  display: inline-flex;
  border-bottom: 2px solid black;
  height: 3rem;
  transition: height 0.1s ease-in-out;

  &-item {
    background-color: #74959a;
    display: none;
    margin: 1rem 1rem 1rem auto;
    border-left: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid black;
    height: 2rem;
  }

  &.active {
    height: 10rem;

    .Header-main {
      padding: auto 4rem auto 3rem;
      font-size: 5rem;
      height: 6rem;
      line-height: 100%;
      border: 2px solid black;
    }

    .Header-item {
      display: block;
    }
  }
  .Header-main {
    display: inline-flex;
    vertical-align: middle;
    align-content: center;
    height: 2rem;
    margin: 0 0 0 2rem;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 0.2rem 1rem 0 1rem;
    border-radius: 5px;
    background-color: #74959a;
    font-size: 1.2rem;
    font-weight: 500;
    transition: font-size 0.1s ease-in-out;
  }
}
