.LeftMenu {
  background-color: #495371;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -3px;
  width: 0;
  border: 2px solid black;
  border-radius: 0 0 5px 0;
  border-left: 0;
  top: 15rem;
  min-height: 35rem;
  max-height: 100%;
  position: absolute;
}

.LeftMenu.active {
  margin-left: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  width: 15rem;
  border: 2px solid black;
  border-radius: 0 5px 5px 0;
  border-left: 0;
  -webkit-box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.LeftMenu.active .LeftMenu-toggler {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.LeftMenu.inactive {
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  width: 0;
}

.LeftMenu-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0 1rem 2rem;
  z-index: -2;
  text-overflow: ellipsis;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-clamp: 1;
  white-space: nowrap;
  overflow: hidden;
  border-left: none;
  border-right: none;
  font-size: 3rem;
}

.LeftMenu-item .LeftMenu-link {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  overflow: hidden;
  text-overflow: inherit;
}

.LeftMenu-item .LeftMenu-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.LeftMenu-item .LeftMenu-link:visited {
  color: blue;
}

.LeftMenu-toggler {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5em;
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 5px solid #a7831a;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: pointer;
}

.LeftMenu-toggler-container {
  background-color: #495371;
  position: relative;
  border: 2px solid black;
  border-radius: 0 5px 5px 0;
  border-left: 0px;
  top: 12rem;
  left: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 10rem;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=Menu.css.map */