.Page {
  height: 100%;
  width: 100%;
  background-color: #f1e0ac;

  & .Page-content {
    width: 100%;
    padding: 6rem 1rem 0 1rem;
    display: flex;

    &.margin {
      padding-top: 11rem;
    }
  }
}
